@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><b>BAZA CRUD</b></p>
    <p>Students <a href="Students">CLICK</a>.</p>
    <p>Groups <a href="Groups">CLICK</a>.</p>
    <p>Students and thier groups <a href="StudentToGroups">CLICK</a>.</p>
    <p>Student`s number of ID card <a href="ID_card">CLICK</a>.</p>
</div>
